.CV{
    font-size: clamp(24PX, 4VW, 40PX);
}
p{
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
#titulo{
    text-align: center;
    font-family: "poppins", sans-serif;
    font-family: 500;
}

li::marker {
    color:green;
    font-size: 1.2em;
    content: "=> ";

}